/* .all{
    text-align: center;
} */
.age{
    margin-left: 4px;
    margin-right:4px;
    width: 70px;
}
.height{
    margin-left: 24px;
    margin-right:4px;
    width: 70px;
}
.tonk{
    margin-left: 10px;
}
.norm{
    margin-left: 172px;
}
.big{
    margin-left: 172px;

}
